{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^~sdk/(.*)$",
    "^~config/(.*)$",
    "^~api/(.*)$",
    "^~managers/(.*)$",
    "^~logger/(.*)$",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
